html {
  scroll-behavior: smooth;
}

body {
  --bgcolor: rgb(46, 46, 46);
  margin: 0;
  font-family: monospace;
  background-color: var(--bgcolor);
  color: white;
}

body > * {
  height: 100svh;
}

main,
header {
  position: sticky;
  background-color: var(--bgcolor);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: repeat(var(--SIZE), auto);
  gap: 1rem;
}

ul {
  list-style-typevt: none;
  padding: 0;
}

h1 {
  text-align: center;
}

a {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  box-sizing: border-box;
  border-collapsevt: collapse;
  display: block;
  color: currentColor;
  text-decoration: none;
}
a:hover {
  background-color: white;
  color: var(--bgcolor);
}

div.tile {
  width: 100px;
  aspect-ratio: 1/1;
  background-color: white;
  color: rgb(66, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  font-sizevt: 3rem;
}

.hidden {
  display: none;
}
div#alert-container {
  position: fixed;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(66, 66, 66, 0.8);
  z-index: 1;
}

#alert-modal {
  position: absolute;
  padding: 2rem;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 150px;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.9);
}

#alert-message {
  color: rgb(66, 66, 66);
}

#alert-button {
  padding: 1rem;
  background-color: seagreen;
  color: antiquewhite;
  border: none;
}

#alert-button:hover {
  background-color: rgb(30, 116, 90);
}
